import /vendor/etc/ueventd.${ro.hardware}.rc

# Graphics
/dev/dri/card*		0666	system	graphics
/dev/dri/controlD*	0666	system	graphics
/dev/dri/renderD*	0666	system	graphics

# Serial console
/dev/ttyAMA*	0666	system	system
/dev/ttyMSM*	0666	system	system
/dev/ttyS*	0666	system	system
