# Graphics
/dev/dri/card0		0666	system	graphics
/dev/dri/controlD64	0666	system	graphics
/dev/dri/renderD128	0666	system	graphics

# Serial console
/dev/ttyAMA*	0666	system	system
/dev/ttyMSM*	0666	system	system
/dev/ttyS*	0666	system	system
